.container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.footer {
  display: flex;
  height:100px;
  background-color: #1b3e3e;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.footer-p {
  color:#436666 
}
.header {
   height: 100px;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    background-color: #1b3e3e;
    padding: 20px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
 .name a {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color:#607f7f;
}
.name a:hover {
  color:#436666;
}
.main {
  height:auto;
  width: 100%;
  display: flex;
  justify-content:space-between; 
  padding-top: 10px; 
  align-items: flex-start;  
}
.sidebar-left {
  height: auto;
  background-color:#1b3e3e;
  min-width: 20%;
  max-width: 27.5%;
  /* border: 2px solid lightsteelblue; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
 
}
.sidebar-right {
  display:flex;
  height: auto;
  background-color: #1b3e3e;
  min-width:20%;
  max-width:27.5%;
  /* border: 2px solid lightsteelblue; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color:#436666;
  align-items: flex-start;
  justify-content: center;

}

.main-content {
  width:50%;
  min-width: 40%;
  background-color: #607f7f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  margin-left: 5px;
  margin-right: 5px; 
}

.menu a {
 color: #436666;
 text-align: center;
 text-decoration: none;
 padding: 10px;
 font-size: 18px;
 line-height: 25px;
 border-radius: 4px;
 text-transform: uppercase;
}

.menu a.active {
  background-color:#607f7f;
  color:#0E3232;
}
  
.menu a:hover{
  background-color:#607f7f;
  color:#0E3232;
}

.hero-image{
  margin-top: 10px;
  padding-top: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/road.jpg");

  height: 460px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content:center;
}
.hero-text h1 {
  color: white;
  text-transform: uppercase;
  
}
.hero-text p {
  color:white;
  
}
.sidebars{
  color:#607f7f;
  font-size: 18px;
}
.main1 {
  color: #0E3232;
}
.related-article  {
  display:flex;
  justify-content:center;

}

h2 re{
  color: #0E3232;
  font-size: 18px;
  
}
.rarticle {
  background-color: #1b3e3e;
  border-radius: 10px;
  margin:10px;
  height: auto;
  width:20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.rarticle h2{
  color:white;
  font-size: 16px;
  padding-left:5%;
}
.rarticle p {
 color:#607f7f;
 font-size: 12px;
 padding-left:5%;
}
hr {
  color: #436666;
  width: 75%;
  justify-content: center;
  
}

.rarticle img{
  height:auto;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.main-content img {
  width: 100%;
  object-fit:cover;
  border-radius: 10px;
}

.mc-article h2 {
  color:white;
  text-transform: capitalize;
  padding-left: 5%;
}

.mc-article p {
  color:#0E3232;
  padding-left: 5%;
}

.mc-article p.log {
  
}

.rarticle p.log-rarticle {

  color:white;
  font-size:11px;
  padding-left: 5%;
  text-transform: uppercase;
  margin-top: 0%;

}